<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home | Bistro | Gourmet</title>
      <meta name="description" content="Multipurpose HTML template.">
      <script src="../scripts/jquery.min.js"></script>
      <link rel="stylesheet" href="../scripts/bootstrap/css/bootstrap.css">
      <script src="../scripts/script.js"></script>
      <link rel="stylesheet" href="../style.css">
      <link rel="stylesheet" href="../css/content-box.css">
      <link rel="stylesheet" href="../css/image-box.css">
      <link rel="stylesheet" href="../css/animations.css">
      <link rel="stylesheet" href='../css/components.css'>
      <link rel="stylesheet" href='../scripts/flexslider/flexslider.css'>
      <link rel="stylesheet" href='../scripts/magnific-popup.css'>
      <link rel="stylesheet" href='../scripts/php/contact-form.css'>
      <link rel="stylesheet" href='../scripts/social.stream.css'>
      <link rel="icon" href="../images/favicon.png">
      <link rel="stylesheet" href="../skin.css">
      <!-- Extra optional content header -->
  </head>

  <body>
    <div class="section-empty no-paddings-y">
      <div class="content">
        <div class="grid-list">
          <div class="grid-box row">
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima" aid="0.08465149318600529" style="animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.13361549581480747">
                  <img src="../images/gallery/square-1.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>The Perfect Burger</h2>
                  <span class="extra-content">$ 9.99</span>
                  <p>
                    Beetroot water spinach okra water chestnut ricebean pea.
                    Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima" aid="0.10181730848820303" style="animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.9870989511070474">
                  <img src="../images/gallery/square-2.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Cheese Toast Deluxe</h2>
                  <span class="extra-content">$ 10.50</span>
                  <p>
                      Beetroot water spinach okra water chestnut ricebean pea.
                      Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima" aid="0.3705406333263689" style="animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.4039054504610353">
                  <img src="../images/gallery/square-3.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Summer Yellow Snack</h2>
                  <span class="extra-content">$ 11.50</span>
                  <p>
                      Beetroot water spinach okra water chestnut ricebean pea.
                      Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima" aid="0.9138463308021354" style="animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.007125486705441442">
                  <img src="../images/gallery/square-4.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Cheese Toast Big</h2>
                  <span class="extra-content">$ 9.99</span>
                  <p>
                      Beetroot water spinach okra water chestnut ricebean pea.
                      Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima">
                  <img src="../images/gallery/square-5.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Cheese Burger Deluxe</h2>
                  <span class="extra-content">$ 9.99</span>
                  <p>
                    Beetroot water spinach okra water chestnut ricebean pea.
                    Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima" aid="0.6139336857507386" style="animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.5918380747616321">
                    <img src="../images/gallery/square-6.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Salad Piadina Eggs</h2>
                  <span class="extra-content">$ 10.99</span>
                  <p>
                    Beetroot water spinach okra water chestnut ricebean pea.
                    Teaspoon mustard, teaspoon worcestershire sauce.
                  </p><p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima">
                  <img src="../images/gallery/square-7.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Mexican Hot Piadina</h2>
                  <span class="extra-content">$ 12.50</span>
                  <p>
                    Beetroot water spinach okra water chestnut ricebean pea.
                    Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
            <div class="grid-item col-md-3">
              <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <i class="fa fa-camera-retro anima"></i>
                <a href="#" class="img-box lightbox anima-scale-up anima">
                  <img src="../images/gallery/square-8.jpg" alt="">
                </a>
                <div class="caption">
                  <h2>Italian Bruschette</h2>
                  <span class="extra-content">$ 9.99</span>
                  <p>
                    Beetroot water spinach okra water chestnut ricebean pea.
                    Teaspoon mustard, teaspoon worcestershire sauce.
                  </p>
                  <p class="sub">   </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>