<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<style>
		#page-content {
			background: white;width: 80mm;height: 210mm;
			font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		}
	</style>
	<body>
		<div id='page-content'>
			<div id="page-header">
				<table  class='grid' style='line-height: 1; border:1px solid #ccc;'>
					<tr style='height: 70px;'>
						<td colspan="1" id='header-logo'>
							<img src='mcdonalds-logo.jpg' style='height:30%;padding-left: 8px;' />
						</td>
						<td colspan="3">
                            <b><span>Capixabão Burguer</span><br></b>
							<span style='font-size:13px;'>Cleiton Leonel Creton</span><br>
							<span style='font-size:13px;'>08/04/2020</span>
						</td>
					</tr>
					<tr style='height: 70px;'>
						<td>
							<b><span  style='padding-left: 8px; font-size:17px;'>Mesa</span><br>
							<span  style='font-size: 17px; padding-left: 18px;'>08</span></b>
						</td>
						<td>
							<b><span style='font-size:17px;'>Pedido</span><br>
							<span style='font-size: 17px;'>000001</span></b>
						</td>
						<td colspan="4">
							<span style='padding-right:10px; font-size:30px;'>21:41</span>
						</td>
					</tr>
					<tr style='height: 70px;'>
						<td colspan="3">
							<b><span style="padding-left: 8px;">1X Capixabão Especial</span></b><br>
							<span style='padding-left: 8px; font-size: 13px;'>+ 2x Calabresa</span><br>
							<span style='padding-left: 8px; font-size:13px;'>+ Cebola Crispy</span>
						</td>
					</tr>
					<tr style='height: 70px;'>
						<td colspan="3">
							<span style="padding-left: 8px;">Observações:</span>
							<div style="padding-left:13px; padding-top: 1px;">
								<span style='font-size: 13px;'>Sem alface, tomate, ervilha.
									Com carne ao ponto e sem molhos.
								</span>
							</div>
						</td>
					</tr>
					<tr style='height: 70px;'>
						<td colspan="4">
							<span><img src='barcode.gif' style='padding-left: 12px; height:50%; width: 90%;'/></span><br>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
